body {
  text-align: center;
}

.blue {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.green {
  color: green;
}

.red-bg {
  background-color: red;
  color: white;
}

#game-hidden, #difficulty-select, #play-again {
  display: none;
}

.total-sum {
  font-weight: bold;
}
