body {
  text-align: center;
}

.blue {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.green {
  color: green;
}

.red-bg {
  background-color: red;
}

#game-hidden {
  display: none;
}
